{% extends 'base.html.twig' %}

{% block title %}Inscription Allemande{% endblock %}

{% block content %}
    {{ form_start(registrationForm, { 'attr' : { 'class': 'form--main' }})  }}

    <div class="form">
        <h1 class="form--h1">Des envies germaniques ?</h1>

        <a href="{{ path('discord_connect') }}" class="form--discord">Se connecter avec Discord</a>

        <div class="form--ou">Ou</div>
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}

        <btn type="submit" class="form--btn">S'inscrire</btn>
        <p class="form--text">
            Déjà inscrit ? <a class="form--link">Se connecter</a>
        </p>
    </div>

    {{ form_end(registrationForm) }}

{% endblock %}
