<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar">
                <a href="{{ path('app_home') }}" class="title">Allemands 🇩🇪</a>
                <ul>
                    <a href="{{ path('app_ligue_index')  }}"><li class="navbar--item">Ligues</li></a>
                    <li class="navbar--item">Joueurs</li>
                    <li class="navbar--item">Planning</li>
                    <li class="navbar--item">Classement</li>
                </ul>

                {% if app.user %}
                <div class="btns">
                    <div class="InterfaceUtil">
                        <a href="{{ path('app_logout') }}"> <div class="btn--register"> Deconnexion </div> </a>
                        <img class="imgDiscord"src="https://cdn.discordapp.com/avatars/{{ app.user.discordId }}/{{ app.user.avatar }}.png" />
                    </div>
                </div>
                {% else %}

                    <div class="btns">
                        <a href="{{ path('app_register') }}"><div class="btn--register"> Inscription </div> </a>
                        <a href="{{ path('app_login') }}"> <div class="btn--login"> Connexion </div> </a>
                    </div>
                {% endif %}
            </nav>
            {% block content %}

            {% endblock %}


        {% endblock %}
    </body>
</html>
